* {
    box-sizing: border-box;
}

/* a {
    color: rgb(35, 3, 44);
    text-decoration: none
} */

.title {
    color: whitesmoke;
    text-align: center;
}
h1, h2 {
    background-color: rgb(65, 63, 80);
    text-transform: capitalize;
    text-shadow: 2px 2px 7px rgb(42, 33, 51);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img {
    width: 20px;
    border-radius: 25px;
}
h1, h2, p, a, ul, figcaption {
    font-family: 'Fahkwang', sans-serif;
}
p.intro:first-letter {
    font-size: 150%;
}

.correo {
    width: 25px;
}

ul {
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-bottom: 1px solid #2d0338;
    text-align: center;
}

li {
    display: inline;
    margin: 0px 4px;
}

a {
    color: rgb(35, 3, 44);
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
}

a:hover, a.mouse {
    color: #3c0452;
    text-shadow: 2px 2px 7px #312f31;
    cursor: pointer;
}