* {
  box-sizing: border-box; 
}

/* Imagen de fondo */
html {
  background-image: url(images/fondo.jpg);
  min-height: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: cover;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Khand', sans-serif;
  color: black;
  width: 100%;
  justify-content: space-around;
  align-content: center;
}

h1 {
  align-self: flex-end
}

#titulo {
  display: flex;
  position: relative;
}

.logoSerie {
  position: absolute;
  height: 150px;
  left: 10px;
  z-index: 1;
}

.gun {
  height: 170px;
  position: absolute;
  right: -5px;
}

.centralCard{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  margin: 1%;
}


.portal {
  position: absolute;
  width: 840px;
  height: 230px;
  background-image: repeating-radial-gradient(#2f8603d1, #9ea706 10%, #107b54d1 15%);
  border-radius: 50%;
  margin-top: 8.5%;
}

.contengoCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 1200px;
  justify-content: space-evenly;
  align-content: center;
  margin: auto;
  top: 246px;
}

.card {
  height: 300px;
  width: 350px;
  background-image: url("images/cardTemplateGray.png");
  background-size: cover;
  top: 250px;
  margin-bottom: 50px;
}



.imageCard {
 height: 120px;
  z-index: 3;
  border-radius: 10%;
  margin-left:100px;
  margin-top: 23px;
}

.contengoNumyNam {
  display: flex;
  position: relative;
  width: 270px;
  padding: 40px;
  z-index: 4;
  height: 50px;
}

.numeroId {
  font-size: 3em;
  color: white;
  position: absolute;  
}

.name {
  position: absolute;
  font-size: 1.5em;
  color: black;
  top: 75px;
  width: 330px;
  text-align: center;
  text-decoration-line: overline;
  text-decoration-color: #636369;
}

.contengoInfo {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  z-index: 3;
  margin: 5%;
  margin-top: -40px;
  font-size: 1.4em;
  color: #636369;
}


footer{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  top: 190px;
}

.boxMeeseek {
  height: 100px;
  z-index: 0;
}

.contengoBotones {
  text-align: center;
  width: 500px;
}
.botones {
  height: 80px;
  margin: 15px;
}

.botones:hover {
  border: solid;
  border-color: #6c2d4e;
  border-width: .5em;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  transform: scale(1.2);
  cursor: pointer;
}

.Filter{
  
  font-family: 'Khand', sans-serif;
  font-size: 1.1em;
  color: aliceblue;
  position: relative;
  z-index: 1;
  left: 75%;
  top: 80px;
  width: Auto;
  height: 30px;
  background-color: transparent;
  outline-color: #64a706
}

/* input {
  align-content: center;
  text-align: center;
  padding: 5px, 10px;
  margin: 10px 5px;
  color: gray;
  font-size: 20px;
  outline: none;
  border-color: #ff9800;
  border-width: 2px;
  border-style: solid; 
  border-radius: 15px;
} */