* {
    box-sizing: border-box; 
  }

body {
    font-family: 'Khand', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-gap: 20px;
    width: 100%;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
}
.frames {
    height: 369px;
    background-size: 329px 325px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.frames.frame-red {
    background-image: url("images/redFrame.png");
    background-position: 3px 13px;
    background-size: 357px 320px;
}

.frames.frame-yellow {
    background-image: url("images/yellowFrame.png");
    background-size: 366px 360px;
}
.frames.frame-green {
     background-image: url("images/greenFrame.png");
 }

 .frames:before {
     content: "";
     display: block;
     width: 95px;
     height: 96px;
     background-image: url("images/plus.png");
     position: absolute;
     top: 140px;
     left: 132px;
     transition: 500ms;
 }

 .frames:hover:before{
     transform: scale(1.1);
 }

 .frames input {
    position: absolute;
    width: 278px;
    height: 261px;
    top: 55px;
    left: 41px;
    z-index: 1;
    background: rgba(150, 0,0, .6);
    opacity: 0;
    cursor: pointer;
}